<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <title>Document</title>
</head>

<body>
    <h2>Corona Search</h2>

    <form>
        <input type="text" name="nameCountry" placeholder="Search for one specific country">
    </form>

    <ul>
        <% countrieList.forEach(function({ country, cases, active, deaths }) { %>
        <li>
            <div class="container container-block">
                <h2>Country</h2>
                <h2>Cases</h2>
                <h2>Active Cases</h2>
                <h2>Deaths</h2>
            </div>
            <div class="container">
                <div class="title"><%= country %></div>
                <div><%= cases %></div>
                <div><%= active %></div>
                <div><%= deaths %></div>
            </div>
        </li>
        <% }) %>
    </ul>
    <script src="../script/filter.js"></script>
</body>

</html>